.navbar {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: fixed;
}
.separador{
    width: 100%;
    height: 100px;
}
.navbarConte{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    color: white;
}
.navbarConteImg{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 70%;
    height: 100%;
}
.pizzas{
    width: 100%;
    /* height: 750px; */
    background-color: white;
    display: flex;
    flex-direction: column;
}
.pizzas1{
    width: 100%;
    height: 33.33%;
    display: flex;
}
.imgpizza{
    width: 25%;
    height: 100%;
}
.contpizza{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pizzaimg{
    width: 100%;
    height: 100%;
}
.namepizza{
    font-size: 25px;
    width: 100%;
    height: 30%;
    text-align: center;
}
.despizza{
    font-size: 20px;
    width: 100%;
    height: 70%;
    text-align: center;
}